<%= form_for([@salon, @salon.passes.build]) do |f| %>
  <% if @pass %>
  <% if @pass.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@pass.errors.count, "error") %></h3>
    <ul>
      <% @pass.errors.full_messages.each do |msg| %>
      <li class="text-warning"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% end %>

  <div class="container form-group">
    <%= f.label :姓名 %><br>
    <%= f.text_field :real_name, class: 'form-control' %>
  </div>
  <div class="container form-group">
    <%= f.label :昵称 %><br>
    <%= f.text_field :user_name, class: 'form-control' , placeholder: '没有就和姓名添一样的吧'%>
  </div>
  <div class="container form-group">
    <%= f.label :所在公司 %><br>
    <%= f.text_field :company_name, class: 'form-control' %>
  </div>
  <div class="container form-group">
    <%= f.label :GitHubID %><br>
    <%= f.text_field :github_id, class: 'form-control' %>
  </div>
  <div class="container form-group">
    <%= f.label :邮箱 %><br>
    <%= f.text_field :mail, class: 'form-control' %>
  </div>
  <div class="container form-group">
    <%= f.label :手机号 %><br>
    <%= f.text_field :user_phone_number, class: 'form-control' %>
  </div>
  <div class="container form-group">
    <%= f.label :类型 %><br>
    <%= f.text_field :user_type, class: 'form-control', placeholder: '负责人,分享嘉宾,特别邀请' %>
  </div>

  <div class="container text-center">
    <%= f.submit :创建Pass, class: 'btn btn-default' %>
    <%= link_to '取消', salon_path(@salon) , class: 'btn btn-info' %>
  </div>
<% end %>
