<dl class="dl-horizontal">
  <dt>名称</dt>
  <dd><%= pass.user_name %></dd>

  <dt>序列号</dt>
  <dd><%= pass.serial_number %></dd>

  <dt>手机号</dt>
  <dd><%= pass.user_phone_number %></dd>

  <dt>类型</dt>
  <dd><%= pass.user_type %></dd>
</dl>

<div class="container text-center">
  <%= link_to '添加到 Wallet', pass_path(pass),
              class: "btn btn-link" %>
  <%= link_to '下载', "passes/download",
              class: "btn btn-link" %>
  <%= link_to '删除 Pass', [pass.salon, pass],
               method: :delete,
               data: { confirm: '确定删除该 Pass 吗？' },
               class: "btn btn-danger" %>
</div>
