<%= form_for @location do |f| %>
  <% if @location.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %></h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :据点 %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :密码 %><br>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.submit :保存据点 %>
  </p>
<% end %>
